<div class="about-card">
  <div class="about-table">
    <div class="about-row">
      <div class="about-label">关于我</div>
      <div class="about-content">一个喜欢Neuro-sama的普通学生。</div>
    </div>
    <div class="about-row">
      <div class="about-label">关于本站</div>
      <div class="about-content">期末考试前的复习或许就不需要再看完所有课件了。</div>
    </div>
    <div class="about-row">
      <div class="about-label">联系我</div>
      <div class="about-content">
        <a href="https://space.bilibili.com/694280144" target="_blank">B站空间</a>
        <a href="https://github.com/iamfromchangsha" target="_blank">GitHub</a>
        <a href="mailto:356448@whut.edu.cn">发送邮件</a>
      </div>
    </div>
  </div>
</div>